#container {
  text-align: center;
  width: 50%;
  margin: 100px auto;
}

.colorButtons {
  width: 45%;
  height: 100px;
  margin: 2.5%;
  float: left;
}

.selected {
  background-color: red;
}

#count {
  clear: both;
  background-color: rgb(40, 40, 40);
  color: white;
  width: 65px;
  height: 30px;
  margin: auto;
  border-radius: 5px;
  padding-top: 14px;
}

#red {
  background-color: rgb(192, 57, 43);
}

#blue {
  background-color: rgb(41, 128, 185);
}
