#container {
  text-align: center;
  width: 50%;
  margin: 100px auto;
}

.colorButtons {
  width: 45%;
  height: 100px;
  margin: 2.5%;
  float: left;
}

.selected {
  background-color: red;
}

#count {
  clear: both;
  background-color: rgb(40, 40, 40);
  color: white;
  width: 65px;
  height: 30px;
  margin: auto;
  border-radius: 5px;
  padding-top: 14px;
}

#red {
  background-color: rgb(192, 57, 43);
}

#red:active {
  background-color: rgb(231, 76, 60);
}

#blue {
  background-color: rgb(41, 128, 185);
}

#blue:active {
  background-color: rgb(52, 152, 219);
}

#yellow {
  background-color: rgb(243, 156, 18);
}

#yellow:active {
  background-color: rgb(241, 196, 15);
}

#green {
  background-color: rgb(39, 174, 96);
}

#green:active {
  background-color: rgb(46, 204, 113);
}
